BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.bnbchain.org:8545
BSC_MAINNET_RPC=https://bsc-dataseed.binance.org
OPBNB_TESTNET_RPC=https://opbnb-testnet-rpc.bnbchain.org

DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
